<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : hokuyo
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find turtlebot_description)/urdf/common_properties.urdf.xacro"/>
  <xacro:include filename="$(find blueprint_exploration)/robots/kobuki/camera_properties.urdf.xacro"/>

  <!-- Bases -->
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" /> 

  <!-- Stacks -->
  <xacro:include filename="$(find turtlebot_description)/urdf/stacks/hexagons.urdf.xacro"/>

  <!-- 3D Sensors -->
  <xacro:include filename="$(find blueprint_exploration)/robots/kobuki/hokuyo_30m.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/urdf/sensors/kinect.urdf.xacro"/>

  
  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_hokuyo parent="base_link" />
  <!-- Kinect sensor 
  <sensor_kinect  parent="base_link"/> -->
</robot>
